<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/sibbydavy/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sibbydavy" />
            <add key="ClearTextPassword" value="44a11d0ab023c884d1d8bc3a1f231d8b3776a86a" />
        </github>
    </packageSourceCredentials>
</configuration>
